<div class="card bg-dark text-light shadow-lg border-0 rounded-4">
  <!-- Onglets -->
  <div class="card-header bg-dark text-white rounded-top-4 px-3 border-bottom border-secondary">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a
          class="nav-link px-3 py-2 rounded-top fw-semibold"
          [ngClass]="ongletActif === 'liste' ? 'active-tab-admin' : 'text-light'"
          (click)="afficherListe()"
          href="javascript:void(0)"
        >
          📄 Liste des annonces
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link px-3 py-2 rounded-top fw-semibold"
          [ngClass]="ongletActif === 'Ajout' ? 'active-tab-admin' : 'text-light'"
          (click)="afficherFormulaire()"
          href="javascript:void(0)"
        >
          ➕ Ajouter une annonce
        </a>
      </li>
    </ul>
  </div>

  <!-- Contenu -->
  <div class="card-body bg-dark p-4 rounded-bottom-4">
    <app-list-annonce *ngIf="ongletActif === 'liste'"></app-list-annonce>
    <app-annonces-add *ngIf="ongletActif === 'Ajout'"></app-annonces-add>
  </div>
</div>
