<div class="container my-5 pt-4 text-light">
  <h3 class="text-center fw-bold mb-4 text-info">📚 Choisissez une promotion pour voir l'horaire y correspondant</h3>

  <div *ngIf="message" class="alert alert-danger">{{ message }}</div>

  <div class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let promo of promotions">
      <div class="card bg-dark border border-info text-light shadow-sm">
        <div class="card-body">
          <h5 class="fw-bold">{{ promo.nom }} - {{ promo.section.name }}</h5>
          <p><strong>Faculté :</strong> {{ promo.faculty.nom }}</p>
          <a [routerLink]="['view', promo._id]" class="btn btn-outline-info btn-sm mt-3">
            Voir les horaires
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

