<div class="container my-5 pt-4 text-light bg-dark">
  <h3 class="text-center fw-bold mb-4 text-success">
    📘 Liste des Promotions
  </h3>

  <div *ngIf="message" class="alert" [ngClass]="isError ? 'alert-danger' : 'alert-success'" role="alert">
    {{ message }}
    <button type="button" class="btn-close float-end" (click)="closeAlert()"></button>
  </div>

  <div *ngIf="promotions.length === 0" class="text-center text-muted">
    Aucune promotion disponible pour le moment.
  </div>

  <div class="row g-4" *ngIf="promotions.length > 0">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let promo of promotions">
      <div class="p-4 h-100 border border-success rounded-4 shadow-sm">
        <h5 class="fw-bold text-success">
          <i class="bi bi-journal-bookmark-fill me-2"></i>{{ promo.nom }}
        </h5>
        <p class="mb-1"><strong>Faculté :</strong> {{ promo.faculty.nom || 'Non défini' }}</p>
        <p><strong>Section :</strong> {{ promo.section.name || 'Non défini' }}</p>

        <div class="mt-3 d-flex flex-column gap-2">
          <a [routerLink]="['edit', promo._id]" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-pencil-fill me-1"></i>Modifier
          </a>

          <button (click)="deletePromotion(promo._id)" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-trash-fill me-1"></i>Supprimer
          </button>

          <a [routerLink]="['étudiant/list', promo._id]" class="btn btn-sm btn-outline-success">
            <i class="bi bi-people-fill me-1"></i>Étudiants
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
