<div class="container d-flex justify-content-center min-vh-100">
  <div class="form-card w-100" data-aos="zoom-in">
    <h3 class="text-center fw-bold mb-4 text-primary">
      <i class="bi bi-person-plus-fill me-2"></i>Ajouter une promotion
    </h3>

    <!-- Messages -->
    <div *ngIf="isOpen" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button (click)="close()" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button (click)="close()" type="button" class="btn-close" aria-label="Close"></button>
    </div>

    <!-- Formulaire -->
    <form [formGroup]="promotionForm" (submit)="submitPromotion()">
      <!-- Nom -->
      <div class="mb-3" data-aos="fade-right">
        <label class="form-label fw-semibold">Année de la promotion</label>
        <input type="text" formControlName="nom" class="form-control" placeholder="Ex : L1, G2, Master 1..."/>
      </div>
    
      <!-- Section -->
      <div class="mb-3" data-aos="fade-right">
        <label class="form-label fw-semibold">Section</label>
        <select class="form-select" formControlName="section">
          <option [value]="''" disabled selected>-- Choisir une section --</option>
          <option *ngFor="let s of sectionList" [value]="s._id">{{ s.name }}</option>
        </select>
      </div>

      <!-- Faculté -->
      <div class="mb-3" data-aos="fade-right">
        <label class="form-label fw-semibold">Faculté</label>
        <select class="form-select" formControlName="faculty">
          <option [value]="''" disabled selected>-- Choisir une faculté --</option>
          <option *ngFor="let f of faculteList" [value]="f._id">{{ f.nom }}</option>
        </select>
      </div>

      <!-- Submit -->
      <div class="d-grid" data-aos="fade-up">
        <button type="submit" class="btn btn-primary fw-bold">
          <i class="bi bi-save2 me-2"></i>Enregistrer promotion
        </button>
      </div>
    </form>

  </div>
</div>
