.hero-section {
  height: 90vh;
  background-color: #ffffff;
  overflow: hidden;
}

.hero-lottie {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  .hero-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
  }

  .hero-lottie {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .btn {
    width: 100%;
  }
}


.features i {
  transition: transform 0.3s ease;
}
.features i:hover {
  transform: scale(1.2);
}

/* Compteur */
.counter {
  font-weight: bold;
  color: #ffc107;
}

.about-us-section {
  background: linear-gradient(to right, #f4f9fc, #eaf3fa); /* bleu pâle très doux */
  color: #333;
}

.about-us-section h2 {
  color: #0d3b66; /* bleu profond */
  font-size: 2.5rem;
}

.about-us-section p {
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 800px;
  margin: auto;
}



