::ng-deep .custom-ng-select {
  background-color: #212529; /* noir Bootstrap */
  color: #f8f9fa;            /* blanc clair */
  border: 1px solid #6c757d;
  border-radius: 0.375rem;
  font-size: 1rem;
}

::ng-deep .custom-ng-select .ng-select-container {
  background-color: transparent;
  color: #f8f9fa;
  border: none;
  padding: 0.5rem;
}

::ng-deep .custom-ng-select .ng-select-dropdown {
  background-color: #343a40;
  color: #f8f9fa;
  border-radius: 0.375rem;
}

::ng-deep .custom-ng-select .ng-option {
  padding: 0.5rem 1rem;
}

::ng-deep .custom-ng-select .ng-option:hover {
  background-color: #1f3143;
}

::ng-deep .custom-ng-select .ng-option {
  background-color: #495057;
}

/* Texte saisi dans le champ de recherche ng-select */
.custom-ng-select ::ng-deep .ng-select .ng-select-container .ng-input > input {
  color: white !important;
  background-color: transparent !important;
}

.custom-ng-select ::ng-deep .ng-select-container input.ng-input::placeholder {
  color: #bbb; /* gris clair pour placeholder */
}